.background{
    background-color: whitesmoke;
    min-height: 100vh;
    text-align: -webkit-center;
}

#danger{
    color:red;
    font-weight: bold;
    font-style: italic;
    font-size: small;
}

.btn {
    color: steelblue;
    border-radius: 0.5rem;
    border:none;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px;
    max-width: 30%;
    font-size: 100%;
    box-shadow: 0px 0px 5px steelblue;
}

#form_container{
    background-color: whitesmoke;
    width: 50%;
    border-radius: 2rem;
    color: steelblue;
    padding: 0.5rem;
    box-shadow: 0px 0px 10px steelblue;
}

#form{
    border-radius: .5rem;
    border: none;
    height: 1.7rem;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px steelblue;
    margin-top: 4px;
    width: 12rem;
    margin-left: 5px;
    margin-right: 5px;
}

#form_unit{
    display: flex;
    align-items: center;
}

#attributes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
    align-items: center;
    justify-content: space-around;
    max-width: 50%;
}

#attributes select{
    background-color: steelblue;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: none;
    border-radius: .25rem;
}

#attributes:focus{
    outline: none;
}

#container_types{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    justify-content: center;
    background-color: steelblue;
    width: 80%;
    margin-top: 1rem;
    position: relative;
    padding: .5rem;
    color: whitesmoke;
    font-size: 1rem;
}

#types{
    display: grid;
    grid-template-columns: auto auto;
    text-transform: capitalize;
    justify-content: space-around;
}

form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#form:focus{
    outline: none;
}

#created{
    color: green;
    font-weight: bold;
}